{% extends "base.html" %}
{% set active_page = "home" %}
{% block content -%}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/poesia.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Esprimi l'amore</span>
          <span class="section-heading-lower"> oltre ogni parola</span>
        </h2>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="negozio">Comprare mazzi</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
