body {
    font-family: Lora;
    background: linear-gradient(rgba(238, 91, 174, 0.35),rgba(255, 35, 0, 0.15)),url("/static/img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

h1,h2,h3,h4,h5,h6 {
    font-family: Raleway
}

p {
    line-height: 1.75
}

.text-faded {
    color: rgba(255,255,255,.3)
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: Raleway
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem
}

.section-heading {
    text-transform: uppercase
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800
}

.section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100
}

.bg-faded {
    background-color: rgba(255,255,255,.85)
}

#mainNav {
    background-color: #A7005E;
    font-family: Raleway
}

#mainNav .navbar-brand {
    color: #FF7762
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800
}

#mainNav .navbar-nav .nav-item.active .nav-link {
    color: #FF7762;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size:.9rem
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: rgba(255, 255, 255, 0.4)
    }

    #mainNav .navbar-nav .nav-item.active .nav-link:hover {
        color: rgba(255, 119, 98, 0.7)
    }
}

.btn-xl {
    font-weight: 700;
    font-size: .8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem
}

.intro {
    position: relative
}

@media (min-width: 992px) {
    .intro .intro-img {
        width:75%;
        float: left;
    }

    .intro .intro-text {
        right: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem
    }
}

@media (min-width: 1200px) {
    .intro .intro-text {
        width:45%
    }
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(255, 119, 98, 0.85)
}

.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: .5rem;
    background-color: rgba(255,255,255,.85)
}

.cta .cta-inner:before {
    border-radius: .5rem;
    content: '';
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    right: -.5rem;
    border: .25rem solid rgba(255,255,255,.85)
}

@media (min-width: 992px) {
    .about-heading .about-heading-img {
        position:relative;
        z-index: 0
    }

    .about-heading .about-heading-content {
        margin-top: -5rem;
        position: relative;
        z-index: 1
    }
}

@media (min-width: 992px) {
    .product-item .product-item-title {
        position:relative;
        z-index: 1;
        margin-bottom: -3rem
    }

    .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw
    }

    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw
    }
}

.list-hours {
    font-size: .9rem
}

.list-hours .list-hours-item {
    border-bottom: 1px solid rgba(255, 119, 98, 0.5019607843137255);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic
}

.list-hours .list-hours-item.today {
    font-weight: 700;
    color: #FF7762
}

@media (min-width: 992px) {
    .list-hours {
        width:50%;
        font-size: 1.1rem
    }
}

.address strong {
    font-size: 1.2rem
}

.footer {
    background-color: #360700e6
}

.text-primary {
    color: #e6a756!important
}

.bg-primary {
    background-color: #e6a756!important
}

.btn {
    box-shadow: 0 3px 3px 0 rgba(33,37,41,.1)
}

.btn-primary {
    background-color: #FF7762;
    border-color: #FF7762
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover {
    background-color: #FF4E32;
    border-color: #FF4E32
}

.btn-secondary {
    color: #FF7762;
    background-color: transparent;
    background-image: none;
    border-color: #FF7762;
}

.btn-secondary:active,.btn-secondary:focus,.btn-secondary:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: #FF7762;
    border-color: #FF7762
}

.font-weight-light {
    font-weight: 100!important
}

.btn-acquistare {
    color: #D7007A;
    background-color: transparent;
    background-image: none;
    border-color: #D7007A;
}

.btn-acquistare:active,.btn-acquistare:hover  {
    color: rgba(255, 255, 255, 0.9);
    background-color: #D7007A;
    border-color: #D7007A;
}

.prezzo {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(108, 117, 125, 0.7);
}
